*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
/TimeBlockPlanner/.vs/TimeBlockPlanner/v17/.suo
/TimeBlockPlanner/.vs/TimeBlockPlanner/v17/.futdcache.v2
/TimeBlockPlanner/.vs/TimeBlockPlanner/v17/.suo
/TimeBlockPlanner/.vs/TimeBlockPlanner/DesignTimeBuild/.dtbcache.v2
/TimeBlockPlanner/.vs/ProjectEvaluation/timeblockplanner.projects.v7.bin
/TimeBlockPlanner/.vs/ProjectEvaluation/timeblockplanner.metadata.v7.bin
