@page
@model TimeBlockPlanner.Pages.SignUpModel
@{
    ViewData["Title"] = "Create Account";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div id="signUpForm">
    <form id="signUp" method="post">
        <label class="form-label" for="firstName">First Name:</label>
        <input type="text" asp-for="CreateUser.firstName" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.firstName"></span>
        <br />
        <label class="form-label" for="lastName">Last Name:</label>
        <input type="text" asp-for="CreateUser.lastName" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.lastName"></span>
        <br />
        <label class="form-label" for="username">Username:</label>
        <input type="text" asp-for="CreateUser.username" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.username"></span>
        <br />
        <label class="form-label" for="email">Email:</label>
        <input type="email" asp-for="CreateUser.email" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.email"></span>
        <br />
        <label class="form-label" for="password">Password:</label>
        <input type="password" asp-for="CreateUser.password" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.password"></span>
        <br />
        <label class="form-label" for="passwordConfirm">Confirm Password:</label>
        <input type="password" asp-for="CreateUser.passwordConfirm" class="form-control" />
        <span class="text-danger" asp-validation-for="CreateUser.passwordConfirm"></span>
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<div>
    <hr />
    <p>Already have an account?</p>
    <p>Sign in <a asp-area="" asp-page="/SignIn">here.</a></p>
</div>
