@page
@model TimeBlockPlanner.Pages.SignInModel
@{
    ViewData["Title"] = "Sign-In";
}
<h1>@ViewData["Title"]</h1>

@* <p>This page will be used for existing users to sign-in</p> *@
<hr/>

<div id="loginForm">
    <form id="login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required class="form-control" />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="form-control" />
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<div>
    <hr/>
    <p>Don't have an account yet?</p>
    <p>Create a new account <a asp-area="" asp-page="/SignUp">here.</a></p>
</div>
