@page
@model TimeBlockPlanner.Pages.SignInModel
@{
    ViewData["Title"] = "Sign-In";
}
<h1>@ViewData["Title"]</h1>

<p>This page will be used for existing users to sign-in</p>
<br/>
<div>
    <hr/>
    <p>Don't have an account yet?</p>
    <p>Create a new account <a asp-area="" asp-page="/SignUp">here.</a></p>
</div>
