@page
@model TimeBlockPlanner.Pages.TimeBlockModel
@{
    ViewData["Title"] = "Time Block Planner";
}
<h1>@ViewData["Title"]</h1>

<p>This page will be used for Scheduling your day into blocks of time</p>
