.time-block-planner table {
    border-collapse: collapse;
}

.time-block-planner td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.time-block-planner tr:nth-child(even) {
    background-color: #f2f2f2;
}

.time-block-planner tr:hover {
    background-color: #ddd;
}

.time-block-planner th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
}

.time-block-planner {
    padding: 10px;
}

.popup-form {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}